# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Tegu\Desktop\Programming\Homeworks\Homeworks-Second-Semester\Practicum\3_SI_1_2_62538\1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
